.navbar {
    width: auto;
    display: flex;
    background: linear-gradient(to right, rgb(240, 204, 204), rgb(227, 201, 191));

}

.logo {
    animation-duration: 2s;
    animation-name: slidetop;
}

.navbar-brand {
    margin-left: 40%;
    animation-duration: 10s;
    animation-name: fadein;
}


.navbar-nav {
    margin-left: 40%;
}

.nav-item {
    padding-left: 15%;
}



@keyframes slidetop {
    from {
        margin-bottom: -10%;
    }

    to {
        margin-bottom: 0%;
    }
}

@keyframes fadein {
    from {
        opacity: 50%;
    }

    to {
        opacity: 100%;
    }
}